body{
   margin: 0;
   box-sizing: border-box;
   font-family: 'Play', sans-serif;
}
.container{
   display: grid;
   grid-template: repeat(6, 1fr) / repeat(12, 1fr);
}

.section{
   grid-column: 1 /-1 ;
   height: 100vh;
   position: relative;
}

#footer{
   display: flex;
   grid-column: 1 /-1 ;
   height: 30vh;
   background-color: black;
   justify-content: center;
   align-items: center;
}

.blog-sec-left{
   grid-column: 1 / 7;
}
.blog-sec-right{
   grid-column: 7 / -1;
}

.main-header{
   grid-column: 1 /-1 ;
   height: 100vh;
   background: linear-gradient(to left, rgba(245, 246, 252, 0.1), rgba(0, 0, 0, 0.8)), url(./images/cow.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

nav > ul > li{
   margin-right: 30px;
   background-color: rgb(0, 0, 0);
   padding: 8px 20px;
   border-radius: 5px;
   
}

nav > ul{
   display: flex;
   justify-content: right;
   list-style-type: none;
}

nav > ul > li >ul{
   position: fixed;
   list-style-type: none;
   margin-left: -20px;
   display: none;
   margin-top: 10px;
}
nav > ul > li:hover> ul{
   display: block;
} 

nav ul li a{
   text-decoration: none;
   color: rgb(255, 255, 255);
}

nav > ul > li > ul > li{
   padding: 8px 20px;
   border-radius: 5px;
   background-color: black;
   margin: 5px;
   position: relative;
   left: -30px;
}


nav ul li:hover{
   transition: .3s;
   background-color: gray;
}

.header-content{
   color: white;
   display: inline-block;
   margin-left: 5%;
   margin-right: 50%;   
   margin-top: 15vh;
   
}

.btn{
   border: none;
   padding: 10px 15px;
   background-color: tomato;
   border-radius: 5px;
   cursor: pointer;
}
.btn a{
   text-decoration: none;
   text-transform: uppercase;
   color: white;
   font-weight: bold;
}

iframe {
   display: flex;
   margin-top: 50vh;
   transform: translateY(-50%);
   border-radius: 15px;
   margin-right: 20px;
   margin-left: 20px;
 }

.blog-text{
   display: flex;
   position: absolute;
   flex-direction: column;
   justify-content: center;
   padding: 0 15%;   
   margin-top: 50vh;
   transform: translateY(-50%);
}

button{
   border: none;
   border-radius: 5px;
   padding: 10px 15px;
   background-color: rgb(20, 78, 59);
   text-transform: uppercase;
   font-weight: bold;
   color: white;
   cursor: pointer;
}

button:hover{
   background-color: grey;
   transition: .3s;
}

.blog-sec-left > img{
   display: flex;
   margin-top: 50vh;
   transform: translateY(-50%);
   border-radius: 15px;
   margin-right: 20px;
   margin-left: 20px;
   float: right;
}

.about-donate-text{
   padding: 2% 25%;
   justify-content: center;
   text-align: center;
}


.flexbox{
   display: flex;
   flex-wrap: wrap;
   margin: 0 50px;
   padding: 0 120px;
   justify-content: center;
}

.flexbox > div{
   width: 300px;
   height: 140px;
   background-color: aqua;
   margin: 10px;
   padding: 10px;
   border-radius: 5px;
   display: flex;
}

.box > img{
   margin-top: 20px;
   margin-left: 10px;
}

.box > p{
   margin-left: 10px;
}

.jakat-fund-box{
   width: 364px;
   height: 481px;
   background-color:aliceblue;
   border-radius: 10px; 
   position: relative;
   box-shadow: 2px 5px 6px #888888;
   margin-left: 10px;
   margin-right: 10px;
}
.jakat-box-image{
   width: 364px;
   height: 211px;
   background-image: url(./images/Charity.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
}
.jakat-box-text{
   padding: 20px;
}

.jakat-box-text > a{
   position: absolute;
   bottom: 40px;
}
.jakat-box{
   display: flex;
   justify-content: center;

}

.jakat-fund-text{
   text-align: center;
   margin-left: 10%;
   margin-right: 10%;
}

.motivational-text{
   margin-top: 60px;
   margin-bottom: 30px;
   text-align: center;
}

.image-box > img{
   border-radius: 10px;
   margin: 10px;
}

.image-box{
   display: flex;
   justify-content: center;
}

.footer-text{
   text-align: center;
   color: white;
}

.footer-text >h1 {
   color: tomato;
   font-family: 'Lobster', cursive;
}

